
/* Estiliza o box Topo */

.topo{
    width: 100%;
    height:80vh;
    //border:3px darkred solid;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color:#ECECEC;
    header{
        width:80%;
        padding:15px;
        display:flex;
        border:2px black solid;
        justify-content: space-between;
        align-items: center;
        border-radius: 60px;
        box-shadow: 3px 3px 0 black;
        background-color:white;
        p{
            padding:0;
            margin:0;
            font-weight: bold;
            font-size: 1.3em;
        }
    }
    nav{
        width:30%;
        margin:auto;
        ul{
            display:flex;
            gap:15px;
            padding:0;
            margin:0;
        }
        li{
            list-style: none;
            padding:0;
            margin:0;
        }
    }
    main{
        width:80%;
        height:60%;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1{
            font-size: 3em;
            padding:15px;
            margin:0;
        }
        p{
            font-size: 1.5em;
            color:#333;
        }
        .botoes{
            width:100%;
            display:flex;
            align-items: center;
            justify-content: center;
            gap:30px;
            padding:10px;
        }
        a{
            width:100px;
            padding:10px;
            border:1px black solid;
            text-align: center;
            border-radius: 30px;
            background-color: #EEAD0E;
            font-weight: bold;
            box-shadow: 3px 3px 0 black;  
            &:hover{
                background-color:#FF9C0F;
                cursor: pointer;
                box-shadow:3px 3px 0.3em black;
            }
        }
    }
}


.botao{
    width:100px;
    padding:10px;
    border:1px black solid;
    text-align: center;
    border-radius: 30px;
    background-color: #EEAD0E;
    font-weight: bold;
    box-shadow: 3px 3px 0 black;
    &:hover{
        background-color:#FF9C0F;
        cursor: pointer;
        box-shadow:3px 3px 0.3em black;
    }
}

/* Estilização do Topo Main */


.competencias{
    display:flex;
    align-items: center;
    gap:15px;
}

.bolinha{
    width:10px;
    height:10px;
    background:#EEAD0E;
    border-radius: 50%;
}