<section class="topo">
    <header>
        <p>Sávio Zoboli</p>
        <nav>
            <ul>
                <li><a>Home</a></li>
                <li><a>Sobre</a></li>
                <li><a>Projetos</a></li>
                <li><a>Contato</a></li>
            </ul>
        </nav>
        <a class="botao">Contato</a>
    </header>
    <main>
        <div class="competencias">
            <p>Inovativo</p>
            <div class="bolinha"></div>
            <p>Criativo</p>
            <div class="bolinha"></div>
            <p>Ótimas piadas</p>
        </div>
        <h1>Especialista em Ensino</h1>
        <p>
            Aplicando a tecnologia em diferentes
            setores da indústria e compartilhando
            conhecimento com nossos conterrâneos.
        </p>
        <div class="botoes">
            <a>Meus trabalhos</a>
            <a>Sobre mim</a>
        </div>
    </main>
</section>
