<section class="fundo">
    <h1>Projetos</h1>
    <div class="grid">
        <section>
            <img src="/assets/img/calculadora.png">
            <h3>Calculadora</h3>
            <p>Projeto de uma calculadora básica</p>
        </section>
        <section>
            <img src="/assets/img/landingpage.png">
            <h3>Landing Page</h3>
            <p>Landing page para a escola</p>
        </section>
        <section (click)="abreProjeto('piadas')">
            <img src="/assets/img/chuck_norris.jpg">
            <h3>API de Piadas</h3>
            <p>API de piadas e Google Tradutor</p>
        </section>
        <section>
            <img src="/assets/img/weather_.jpg">
            <h3>API de previsão do tempo</h3>
            <p>API para consulta da previsão do tempo</p>
        </section>
        <section>
            <img src="/assets/img/one_piece.jpg">
            <h3>Wiki do One Piece</h3>
            <p>Wiki do One piece com personagens e arcos</p>
        </section>
    </div>
</section>
