<section class="fundo">
    <article>
        <h1>Sobre mim</h1>
        <p>
            Sou Sávio Eduardo Zoboli, Especialista em
            Ensino I no SENAI/Indaial. Sou formado na
            área de TI, e gosto muito da área de tecnologia,
            principalmente na area de Redes. Gostaria de me
            especializar na área de IoT e automação
            residencial.
        </p>
        <p>
            Na minha vida pessoal, gosto de jogar e 
            escutar musica. Sou noivo e tenho duas
            cachorras.
        </p>
    </article>
    <figure>
        <img src="/assets/img/sobre_imagem.jpg">
    </figure>
</section>
